<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here, bean id is the name that will be passed to ApplicationContext.getBean(String name) -->
    <bean id="TestBean"
            class="de.shhcm.beans.SpringXmlBean">
        <property name="foo" value="bar"/>
    </bean>
</beans>